# Backend
SECRET_KEY=your_strong_secret_key
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,backend,0.0.0.0,bot.mydomain.com
SITE_ID=1
CSRF_TRUSTED_ORIGINS=https://bot.mydomain.com

# Telegram
TELEGRAM_TOKEN=

# Webserver
DOMAIN_NAME=bot.mydomain.com
ADMIN_EMAIL=admin@mydomain.com

# Database
POSTGRES_DB=django_telegram_bot
POSTGRES_USER=bot
POSTGRES_PASSWORD=change_me_to_a_strong_random_password
POSTGRES_HOST=database
POSTGRES_PORT=5432
